# Qubic Node Direct Connection
NEXT_PUBLIC_QUBIC_NODE_IP=127.0.0.1
NEXT_PUBLIC_QUBIC_NODE_PORT=31841

# Qubic RPC URL
NEXT_PUBLIC_QUBIC_RPC_URL=http://127.0.0.1:21841

# QBlog Contract Index (QBLOG_CONTRACT_INDEX = 20)
NEXT_PUBLIC_QBLOG_CONTRACT_INDEX=20

# Network (testnet or mainnet)
NEXT_PUBLIC_NETWORK=testnet
